
/*Cor inserida no background do menu Nav ao clicar no mesmo*/
* {
    margin: 0;
    padding: 0;
}

body{
  background-color: rgb(241, 240, 240);
  }

header nav.navbar-transparente{
    background-image: linear-gradient(to right, #4169E1, #00BFFF,#4169E1) !important;
    box-shadow: 1px 1px 5px black;
    height: 50px;
}

.navbar span{
  cursor: default;
}
a:not([href]):not([tabindex]){
  cursor: pointer;
}

/* barra de navegacao */
.margin-top{
  margin-top: 40px;
}

.awesome{
  display: flex;
}

.img-fundo{
  height: 20em;
  border: 5px solid white;
  border-radius: 9px;
    display: flex;
    padding: 0;
}

#btnMostrarEsconder1{
    border-radius: 100%;
    width: 100px;
    height: 100px;

}

.imgcapa{
    z-index: -1;
    width: 100%;
    height: 100%;
}

.img-perfil{
  margin-left: 3.5em;
    position: relative;
}

.img-perfil a img{
    margin-top: -5em;
    width: 125px;
    height: 125px;
    border: 5px solid white;
    border-radius: 100%;
}

.btn-alt-foto{
  position: relative;
    bottom: 110%;
    left: 0%;
}

.btn-capa {
    float: right;
    margin-right: 2em;
    margin-top: 2em;
}
.btn-alt-foto{
    left: -116px;
}

.btn {
    border: none;
    background: #159ada;
    color: #ffffff;
    padding: 9px 12px 10px;
    padding-right: 12px;
    padding-left: 12px;
    line-height: 22px;
}

.btnfundo{
    position: relative;
    top: -351px;
}

.h1capa{
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
}
.content {
  display: inline-block;
}

.tab-header{
  margin-top: 1em;
}

.videos-css {
  margin-left: 0px;
  margin-top: 20px;
  margin-right: 40px;
}

.resize{
  resize:none;
  width: 100%;
}

.camigos.camigos {
  height: 60px;
  line-height: 42px;
  border-radius: 21px;
  background-color: blue;
}
.chip.chip-md img {
  height: 42px;
  width: 42px;
}

.chip.chip-lg {
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
}
.chip.chip-lg img {
  height: 52px;
  width: 52px;
}
.img-fundo1{
  height: 40em;
  /* border: 10px solid black; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px black;
  max-width:850px;
    max-height:340px;
    width: auto;
    /* height: auto; */
}

.textoperfil{
    display: flex;
    justify-content: space-between;
    }

.textoperfil h5{
    margin: 15px;
}

.textoperfil .submit-form{
    margin-right: 15px;
}

.textoperfil .submit-form a{
    color:white;
}

.textoexperiencias{
    margin: 15px;
}

/* Border top iMG faleconosco */
.borda hr{
  border-top:24px solid;
}

.sobre-flex{
  position: relative;
  left: 17em;
}
.sobre1{
  display: contents;

}
.sobre2{
  transform: rotate(350deg);
}
.ul-valores{
  display: flex;
}

.cvideos{
  border: 2px solid rgba(117, 120, 125, 0.26);
}

.ul-header{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.heading {
  font-weight: 700;
  color: #5d4267;
}
.card.colorful-card .testimonial-card .card-up {
  height: 95px;
}
.card.colorful-card .testimonial-card .avatar {
  border: 3px solid #fff !important;
}
.card.booking-card {
  background-color: #c7f2e3;
}
.card.booking-card .fa {
  color: #f7aa00;
}
.card.booking-card .card-body .card-text {
  color: #db2d43;
}
.card.card.booking-card .chip {
  background-color: #87e5da;
}
.card.booking-card .card-body hr {
  border-top: 1px solid #f7aa00;
}
.mimosa {
  background-color: #F0C05A;
}
.fuchsia-rose-text {
  color: #db0075;
}
.aqua-sky-text {
  color: #5cc6c3;
}
.mimosa-text {
  color: #F0C05A;
}
.list-inline-item .fas, .list-inline-item .far {
  font-size: .8rem;
}
.chili-pepper-text {
  color: #9B1B30;
}
.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}
.card-wrapper.card-action {
  min-height: 400px;
}
.sticky-top{
  z-index: 1030;
}

/*----------Página Contato----------*/
.fundo-contato{
  background-image: url('../img/contato.jpg');
  height: 20vh;
  font-size: 32px;
  text-align: center;
  width: 700px;
  margin: 28px auto;
  background-color: rgb(255,255,255);
  margin-block-start: 25px;
  margin-block-end: 0px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.text{
  float:none;
}

#contato{
  padding: 20px 40px 40px 40px;
  width: 700px;
  border-radius: 0px 0px 10px 10px;
  margin: 0px auto 25px;
  background-color: rgb(255,255,255);
  
}

.login1 #contato{
  height: 255px;
  padding: 20px 40px 40px 40px;
  width: 700px;
  border-radius: 0px 0px 10px 10px;
  margin: 0px auto 25px;
  background-color: rgb(255,255,255);
}

.login1 #contato .checkin{
  width:0px;
}

#contato h1 {
  text-align: center;
  font-size: 32px;
}

#contato .label1 {
  font-size: 20px;
}

#contato input,
#contato textarea {
  background-color: transparent;
  border: 1px solid #afaaa6;
  border-radius: 15px;
  padding: 10px;
  /* width: 100%; */
  outline: none;
}



#contato textarea {
  resize: none;
  height: 20vh;
}

.submit-form {
  padding: 6px 19px;
  margin: 9px -17px 2px;
  float: right;
  border: 1px solid #027ba3;
  border-radius: 23px;
  background-color:  #027ba3;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.submit-form:hover {
  border: 1px solid #159ada;
  background-color: #159ada;
  cursor: pointer;
  box-shadow:
  0 8px 16px 0 rgba(0,0,0,0.2),
  0 6px 20px 0 rgba(0,0,0,0.19);
  transform: scale(1.05);
}

/*-----------------Login-------------------------*/

.col-md-8.login{
  margin-top: 80px;
}

.pagina-contato.margin-top.mt-5.pt-3{
  margin-bottom: 130px;
}
.fundo-login{
  background-image: url('../img/login1.jpg');
  height: 20vh;
  font-size: 32px;
  text-align: center;
  width: 700px;
  margin: 28px auto;
  background-color: rgb(255,255,255);
  margin-block-start: 25px;
  margin-block-end: 0px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

/*==================Home text area ==================*/

#cke_46 {
  display: none;
}

#cke_13{
  display: none;
}

#cke_14{
  display: none;
}

#cke_15{
  display: none;
}

#cke_11{
  display: none;
}

#cke_12{
  display: none;
}

#cke_17{
  display: none;
}
#cke_18{
  display: none;
}
#cke_16{
  display: none;
}
#cke_21{
  display: none;
}

#cke_22{
  display: none;
}

#cke_23{
  display: none;
}
#cke_26{
  display: none;
}

#cke_27{
  display: none;
}

#cke_28{
  display: none;
}
#cke_30{
  display: none;
}
#cke_25{
  display: none;
}
#cke_32{
  display: none;
}
#cke_10 {
  display: none;
}

#cke_43 {
  display: none;
}

#cke_1_bottom {
  display: none;
}

/*--------------Pagina de cadastro--------------*/
.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.fotocadastro{
    background-image: url(../img/contato.jpg);
    height: 15vh;
    font-size: 32px;
    text-align: center;
    width: 100%;
    margin: 0px ;
    background-color: rgb(255,255,255);

    margin-block-end: 2px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.formulario {
    border-radius: 10px;
    background-color: #FFF;
    display: block;
}

form h1 {
    color: #000;
    margin: 10px;
}

.formulario label {
    margin: 3px;
    padding: 3px;
}

.formulario input.form-control {
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid #afaaa6;
    height: 30px;
    display: inline-block;
    margin: 5px;
}

.formulario .botaocadas {
    padding: 6px 19px;
    margin: 5px;
    float: right;
    border: 1px solid #027ba3;
    border-radius: 23px;
    background-color: #027ba3;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    display: block;
    bottom: 50px;
}

.formulario .botaocadas:hover {
    border: 1px solid #159ada;
    background-color: #159ada;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
}

.incadastro{
  width: 560px;

  margin-left: 15px;
}

.incadastro1{
  margin-left: 15px;
}

.incadastro2{
  margin-left: 15px;
}

.incadastro label{
   margin: 3px;
}

.form-group.sex {
  
  margin: 35px 100px 20px;
}


/* 
.oucadastro{
  margin: 1px;
} */

/* -------------FAQ----------------- */
.caixa2{
    width: 500px;
}

.btn-link{
    color: grey;
    float: left;
    text-decoration: none;

}
.textfaq.btn.btn-link.collapsed {
  background-color: transparent !important;
  font-size: 16px !important;
}

.btn-link:hover{
    text-decoration: none;
    font-weight:bold;
    color: black;
}

#accordion {
  width: 700px;
}

.caixa2{
    width: 700px;
    margin: 0px auto 25px;
    margin-top: 80px;
    margin-bottom: -60px;
}

.btn-link{
    color: rgb(26, 26, 26);
    float: left;
    text-decoration: none;
    background-color: #FFF;

}

.btn-link:hover{
    text-decoration: none;
    font-weight:bold;
    color: black;
}

.fundo-faq{
  background-image: url('../img/contato.jpg');
  height: 25vh;
  font-size: 32px;
  text-align: center;
  width: 700px;
  margin: 28px auto;
  background-color: rgb(255,255,255);
  margin-block-start: 25px;
  margin-block-end: 0px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

/* paginas com essa formatação */
.SpanFaqContatoCadastro{
font-weight: bold;
position: center;
color: white;
text-shadow: 2px 2px black;
}


/* ====================Index================ */

div .navind li a{
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  }

  .list-group-item .fotoperf{
    border-radius: 50%;
    width: 90px;
    margin: 4px;
  }


  /*=======================Profile===================*/

  #contato .texto textarea {
    height: 250px;
    width: 400px;
}


  /*===================Nav outras paginas externas===================== */
/* .collapse .navop{

  display: flex;
  justify-content: space-evenly;
  text-align: center;

}
.navbar-expand-lg .navbar-collapse{
  display: inline-block !important;
  flex-basis: auto;
}

.collapse .navop li a{
  color: #000 !important;
  cursor: pointer;
  text-decoration: none;
  font-weight:normal !important;
  margin:2px;

} */


/* ====================Nav Index (menu hamburguer)==================== */

.navbar span {
  color: white;
  font-weight: bold;
}

/* ++++++++++++++++++Sobre Nós+++++++++++++++++++ */
.navbar-light .navbar-nav .nav-link {
  color: gray;
  font-weight: bold;
}

/* ***********Perfil do Usuário*********** */
breadcrumb-item text-right{
  cursor: pointer;
}

a:link {
text-decoration:none;
}


/* ----------Media Queries---------- */
@media (min-width:986px) and (max-width: 3200px){
  .navb  .navb1 ul li{
    display: none !important;
   }

   .collapse .navop{

  display: flex;
  justify-content: space-evenly;
  text-align: center;

}

.navbar-expand-lg .navbar-collapse{
  display: inline-block !important;
  flex-basis: auto;
}

.collapse .navop li a{
  color: #000 !important;
  cursor: pointer;
  text-decoration: none;
  font-weight:normal !important;
  margin:2px;

}

}

@media (max-width: 986px){
  .ul-header {
    display: none;
}
.navbar-collapse {

  text-align: center;
}
#navbarTogglerDemo01 {

  box-shadow: 0px 15px 10px -15px;
  background-color: white;

}
.nav-item {

  border-bottom: 1px solid #e7e7e7;

}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar {
  padding: 10px 0 0 !important;
}

.imgcar{
  display: none;
}

.ul-valores{
  display: inline-block;
}

}
@media (min-width:768px) and (max-width: 992px){
  .img-fundo1{
    height: 350px;
    width: 720px ;
  }

  #accordion{
    width: 700px;
  }
  .fundo-faq{
    width: 700px;
  }
}


@media (min-width:576px) and (max-width: 768px){
  .img-fundo1{
    height: 400px;
    width: 570px ;
  }
  .ul-valores{
    margin: 100px;
  }
  #accordion{
    width: 540px;
  }
  .fundo-faq{
    width: 540px;
  }

  #contato{
    width: 540px;
  }

  .fundo-contato{
   width: 540px;
  }
}

@media (min-width:420px) and (max-width: 576px){
  .img-fundo1{
    height: 350px;
    width: 470px ;
  }
  #accordion{
    width: 420px;
  }
  .fundo-faq{
    width: 420px;
  }

  #contato{
    width: 415px;
  }

  .fundo-contato{
   width: 415px;
  }
  
}

@media (min-width:260px) and (max-width:420px){
  #accordion{
    width: 290px;
  }
  .fundo-faq{
    width: 290px;
  }
  .botaoresp{
    font-size: 10px !important;
    
  }
  #contato{
    width: 290px;
  }

  .fundo-contato{
  width: 290px;
  }
}

@media (min-width: 768px){
.offset-md-3 {
  margin-left: 0%;
}
/* ----------Efeito de Transição abaixo do carrossel nas imagens da page Index---------------//----------- */

div#efeito img#transition{
    float: left;
    width: 150px;
    height: 70px;
    /* background: white; */
    -webkit-transition: width 2s, height 2s; /* ------For Safari 3.1 to 6.0------ */
    transition: all .3s ease-in;
    margin: 10px;
    /* box-shadow: 1px 1px 9px black; */
    /* border: 4px solid white; */
    }

    div#efeito img#transition:hover {
    width: 185px;
    height: 100px;
    }


/* Page Artigo */
.marginartigo{
  margin-top: 80px;
  margin-left: 100px;
}

.link-artigo a{
  color: gray;
}

.botao-artigo {
  background-color: white;
  border-block-end: none;
  border-right-style: none;
  border-color: white;
  color: gray;
}

.artigo {
    border: none;
    margin-top: 0px;
    padding: 13px 0px 0px 0px;
}

.usuarios{
    margin-top: 80px;
}

/* Comentários na tela Welcome */
.titulo001,h2{
  text-align: center !important;
  font-size: 23px !important;
  font-weight: bold;
}

.mgheader{
  margin-top: -20px !important;
}
/* -------------------------//--------------------------------//---------------------------------- */

}